[Unit]
Description=FreeSWITCH
After=network.target

[Service]
Type=forking
PIDFile=/run/freeswitch/freeswitch.pid
ExecStart=/usr/bin/freeswitch -nc
ExecStop=/usr/bin/fs_cli -x shutdown
Restart=always
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
